/* 
    Created on : Oct 2, 2015, 8:25:55 PM
    Author     : Patrick Clarey
*/
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom right, #FFE3B3, #FFF9C4, white, #FFF9C4, #FFE3B3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#slideShowTitle {
    font-family: 'Caveat Brush', cursive;
    background-color: #7E57C2;
    box-shadow: 5px 5px;
    font-size: 4em;
    text-align: left;
    padding: 20px 20px 20px 20px;
    margin: 25px 75px 50px 75px;
}

#slideImage {
    height: 600px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#slideCaption {
    font-family: 'Caveat Brush', cursive;
    font-size: 3em;
    text-align: center;
}

menu {
    text-align: center;
}

button {
    background-color: #7E57C2;
    height: 30px;
    width: 40px;
}

button:disabled {
    background-color: transparent;
}