/** 
 *  This CSS provides all the style settings for
 *  our JavaFX dialog boxes.
 *
 *  @author Patrick Clarey
 */

.root {
    -fx-font: 10pt "Comic Sans MS";
}

#top {
    -fx-background-color: #FFEB3B;
    -fx-alignment: CENTER;
    -fx-padding: 30px 30px 20px 30px;
    -fx-spacing: 15px;
    -fx-pref-height: 200px;
}

#bottom {
    -fx-background-color: #FFF9C4;
    -fx-alignment: BASELINE_RIGHT;
    -fx-spacing: 15px;
    -fx-padding: 30px 30px 30px 0px;
}

.dialog_label {
    -fx-wrap-text: true;
}