/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Patrick Clarey
 */

.slide_show_pane {
    -fx-background-color: #FFF9C4;
    -fx-accent: #7E57C2;
    -fx-focus-color: #7E57C2;
    -fx-font: 10pt "Comic Sans MS";
}

.horizontal_file_toolbar {
    -fx-alignment: CENTER;
    //-fx-background-color: #ede7f6;
    -fx-background-color: #FFEB3B;
    -fx-hgap: 20px;
}

.slide_show_workspace {
    -fx-background-color: #FFF9C4;
    -fx-spacing: 20px;
}

.slide_editor_pane {
    -fx-background: #FFF9C4;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.slide_editor_scroll_pane {
    -fx-background: #FFF9C4;
    -fx-background-insets: 0;
}

.slide_show_edit_vbox {
    -fx-background-color: #FFF9C4;
    -fx-border-width: 0px;
    -fx-spacing: 20px;
    -fx-border-color: #FBC02D; //rgb(50, 5, 5);
    -fx-alignment: CENTER;
}

.slide_edit_view {
    -fx-background-color: #FFEB3B;
    -fx-border-color: #FFEB3B;
    -fx-border-width: 3px;
}

.slide_edit_view_selected {
    -fx-background-color: #FFEB3B;
    -fx-border-color: #7e57c2;
    -fx-border-width: 3px;
}

.slide_edit_caption_vbox {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 5px;
}

.vertical_toolbar_button {
    -fx-background-color: #7E57C2;
    -fx-background-radius: 0px 10px 10px 0px;
    -fx-padding: 30px 5px 30px 5px;
}